# Ignore README.md
README.md

# Ignore specific folders inside notebooks directory
notebooks/.Trash-0/
notebooks/.pytest_cache/

# Ignore all __pycache__ and .ipynb_checkpoints folders in all subdirectories
**/__pycache__/
**/.ipynb_checkpoints/
